img{
    width: 50px;
    height: auto;
}
.fundomenu{
    background-color: rgba(32, 176, 233, 0.836);
}

.minhafonte{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.preto{
  color: rgba(27, 26, 26, 0.904);
}